body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #f7f7f7;
}

header {
    background-color: #007BFF;
    color: #fff;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
}

nav {
    margin-top: 10px; /* Adicionado para dar espaço entre o título e a navegação */
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline-block;
    margin-right: 15px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

footer {
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
    color: #555;
}