{% extends 'template.html' %}
{% block conteudo %}
<style>
    nav ul {
        display: flex;
        justify-content: left;
        list-style: none;
        padding: 0;
        margin: 0;
        margin-left: 10px;
        margin-bottom: 10px;
    }
    
    nav li {
        display: inline-block;
        margin-right: 15px;
        margin-top: 4px;
    }
</style>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="#" onclick="list_audiences('{{ user }}')">Listas de audiência</a></li>
                <li><a href="#" onclick="signup()">Cadastro de usuário</a></li>
            </ul>
        </nav>
        <button class="logout-button" onclick="logout()">Logout</button>
    </header>
    
    <form action="{{ url_for('send_data', user=user) }}" method="post" onsubmit="return validateForm()">
        {{ audience_form.hidden_tag() | escape }}

        <label for="parceiro" >Parceiro:</label>
        {{ audience_form.parceiro(id="parceiro", onchange="updateForm()") }}

        <div id="tiktok-fields" style="display: none;">
            <label for="db_name">Nome do Banco de Dados</label> 
            {{ audience_form.db_name() | escape }}
        
            <label for="table_name">Nome da Tabela:</label>
            {{ audience_form.table_name() | escape }}
        
            <label for="audience_name">Nome da Audiência:</label>
            {{ audience_form.audience_name() }}

            <label for="advertiser_name">Nome do Advertiser:</label>
            {{ audience_form.advertiser_name(id="advertiser_name") }}

            {{ audience_form.submit() | escape }}

        </div>

        <div id="salesforce-fields" style="display: none;">

            <label for="db_name_sf">Nome do Banco de Dados</label> 
            {{ salesforce_form.db_name_sf() | escape }}
        
            <label for="table_name_sf">Nome da Tabela:</label>
            {{ salesforce_form.table_name_sf() | escape }}

            <label for="file_name">Nome do arquivo (CSV):</label>
            {{ salesforce_form.file_name() }}
            
            <label for="path_sftp">Path (SFTP):</label>
            {{ salesforce_form.sftp_path() }}

            {{ salesforce_form.submit() }}
        </div>
    
    </form>
    <script>
        function list_audiences() {
            window.location.href = "{{ url_for('list_audiences', user=user) }}";
        }
        
        function signup() {
            window.location.href = "{{ url_for('signup', user=user) }}";
        }

        function logout() {
            window.location.href = "{{ url_for('logout', user=user) }}";
        }

        function validateForm() {
            var dbName = document.getElementById("db_name").value;
            var tableName = document.getElementById("table_name").value;
            var audienceName = document.getElementById("audience_name").value;

            if (!dbName) {
                // Retrieve dbName from a different source
                var dbName = document.getElementById("db_name_sf").value;
            }

            if (!tableName) {
              // Retrieve tableName from a different source
              var tableName = document.getElementById("table_name_sf").value;
            }

            if (audienceName) {
                if (!/^[a-zA-Z0-9_]+$/.test(audienceName)) {
                alert("Erro: O nome da audiência deve ser alfanumérico, podendo conter underscore (_).");
                return false;
            }
            }

            // Verifica se dbName contém "db"
            if (!dbName.startsWith("db")) {
                alert("Erro: O nome do banco de dados deve começar com [db].");
                return false;
            }
            
            return true

        }

        document.addEventListener('DOMContentLoaded', function() {
            var errorMessage = "{{ error_message }}".trim();
            if (errorMessage) {
                // Exibe a mensagem de erro usando um alerta
                alert(errorMessage);
                window.location.href = "{{ url_for('form_post', user=user) }}";
            }
        });

        document.addEventListener('DOMContentLoaded', function() {
            var audienceCreated = "{{ success_message }}".trim();
            if (audienceCreated) {
                // Exibe a mensagem de erro usando um alerta
                alert(audienceCreated);
                window.location.href = "{{ url_for('form_post', user=user) }}";
            }
        });
        document.addEventListener("DOMContentLoaded", function() {
  updateForm();
});
        function updateForm() {
            const partnerSelect = document.getElementById("parceiro");

            // Obter o índice da opção selecionada
            const selectedIndex = partnerSelect.selectedIndex;

            // Obter a opção selecionada
            const selectedOption = partnerSelect.options[selectedIndex];

            const partnerValue = selectedOption.value;

            const salesforceFields = document.getElementById("salesforce-fields");
            const tiktokFields = document.getElementById("tiktok-fields");


            // Exibir o valor
            console.log("Selected partner:", partnerValue)

            if (partnerValue === 'Tiktok') {
                const labelElement = document.querySelector("label[for='audience_name']");
                labelElement.textContent = 'Nome da audiência';

                const labelElement_info = document.querySelector("label[for='advertiser_name']");
                labelElement_info.textContent = 'Nome do Advertiser'

                salesforceFields.style.display = "none";
                tiktokFields.style.display = "block";

                
                const file_name = document.getElementById("file_name");
                file_name.setAttribute("disabled", false);

                const sftp_path = document.getElementById("sftp_path");
                sftp_path.setAttribute("disabled", false);

                const db_name_sf = document.getElementById("db_name_sf");
                db_name_sf.setAttribute("disabled", false);

                const table_name_sf = document.getElementById("table_name_sf");
                table_name_sf.setAttribute("disabled", false);

                advertiser_name.removeAttribute("disabled");
                audience_name.removeAttribute("disabled");
                db_name.removeAttribute("disabled");
                table_name.removeAttribute("disabled");
                
                document.getElementById("advertiser_name").style.display = "block";
            } 
            else {
                console.log("Selected partner:", partnerValue)
                const labelElement = document.querySelector("label[for='audience_name']");
                const labelElement_info = document.querySelector("label[for='advertiser_name']");

                const advertiser_name = document.getElementById("advertiser_name");
                advertiser_name.setAttribute("disabled", false);

                const audience_name = document.getElementById("audience_name");
                audience_name.setAttribute("disabled", false);

                const db_name = document.getElementById("db_name");
                db_name.setAttribute("disabled", false);

                const table_name = document.getElementById("table_name");
                table_name.setAttribute("disabled", false);

                file_name.removeAttribute("disabled");
                sftp_path.removeAttribute("disabled");
                db_name_sf.removeAttribute("disabled");
                table_name_sf.removeAttribute("disabled");

                salesforceFields.style.display = "block";
                tiktokFields.style.display = "none";
                labelElement.textContent = 'Nome do arquivo (CSV)';
                labelElement_info.textContent = ''
                
                document.getElementById("advertiser_name").style.display = "none";
                
            }
}

</script>
</body>
{% endblock %}