<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style_dash.css') }}">
</head>
<body>
    <header>
        <h1>API</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="/login">Login</a></li> <!-- Adicione esta linha para a opção de login -->
            </ul>
        </nav>
    </header>
    
    <!-- Restante do seu conteúdo -->

    <footer>
        © 2023 Todos os direitos reservados.
    </footer>
</body>
</html>
