{% extends 'template_audiences.html' %}
{% block conteudo %}
<body>
    <header>
        <nav>
            <a href="#" onclick="goBack()">Início</a>
            <a href="#" onclick="signup()">Cadastro de usuário</a>
            
        </nav>
    </header>

    <input type="hidden" name="csrf_token" id="csrf_token" value="{{ csrf_token }}">
    {% for audience in audiences %}
    <div class="card">
        <div class="card-content">
            <div>
                <div class="card-heading">{{ audience.audience_name }}</div>
                <div class="card-text">
                    <strong>Nome do Banco:</strong> {{ audience.db_name }}<br>
                    <strong>Nome da Tabela:</strong> {{ audience.table_name }}<br>
                    <strong>Parceiro:</strong> {{ audience.parceiro }}<br>
                    <strong>Adv_Name:</strong> {{ audience.advertiser_name }}<br>
                    <strong>CreatedBy:</strong> {{ audience.created_by }}
                </div>
            </div>
        </div>
        <div class="card-footer">
            <!-- Adicione qualquer conteúdo adicional no rodapé do cartão aqui -->
        </div>
    </div>
    {% endfor %}

    {% for audience in audiences_sf %}
    <div class="card">
        <div class="card-content">
            <div>
                <div class="card-heading">{{ audience.file_name }}</div>
                <div class="card-text">
                    <strong>Nome do Banco:</strong> {{ audience.db_name_sf }}<br>
                    <strong>Nome da Tabela:</strong> {{ audience.table_name_sf }}<br>
                    <strong>Parceiro:</strong> {{ audience.parceiro }}<br>
                    <strong>Nome do arquivo:</strong> {{ audience.file_name }}<br>
                    <strong>PathSftp:</strong> {{ audience.sftp_path }}<br>
                    <strong>CreatedBy:</strong> {{ audience.created_by }}
                </div>
            </div>
        </div>
        <div class="card-footer">
        </div>
    </div>
    {% endfor %}
    
    <div style="display: flex; align-items: center; justify-content: center; flex-grow: 1;">
        <button class="back-button" onclick="goBack()">Voltar</button>
    </div>

    <script>
        function form_post() {
            window.location.href = "{{ url_for('form_post', user=user) }}";
        }
        function signup() {
            window.location.href = "{{ url_for('signup', user=user) }}";
        }
        function goBack() {
            window.location.href = "{{ url_for('form_post', user=user) }}";
        }
    </script>
</body>
{% endblock %}