<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eduardo API</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/login.css') }}">
</head>
<body>
    <header>
        <nav>
            <h4 class="header">Upload Audience</h4>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="/login">Login</a></li>
            </ul>
        </nav>
    </header>
    
    <form action="/valid_user" method="post">
        {{ form.hidden_tag() }}
        {{ form.user.label }} {{ form.user() }}
        {{ form.password.label }} {{ form.password() }}
        {{ form.submit() }}
    </form>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="flash-messages">
                {% for category, message in messages %}
                    <div class="error-message">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    
    <footer>
        © 2023 Todos os direitos reservados.
    </footer>
    
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // Verifica se há uma mensagem de erro e exibe a mensagem se houver
            var flashMessages = document.querySelector(".flash-messages");
            if (flashMessages) {
                // Oculta a mensagem após 3 segundos (3000 milissegundos)
                setTimeout(function() {
                    flashMessages.style.display = "none";
                }, 3000);
            }
        });
    </script>
</body>
</html>
